// .users{
//   .user{
//     position: relative;
//     transition: transform .25s, box-shadow .25s;
//     padding: 1rem 1rem;
//     // width: 60rem;
//     // border: 1px solid rgb(79, 79, 79);
//     box-shadow: 0 1rem 2.5rem $shadow1;
//     border-radius: 4px;
//     height: auto;
//     margin-bottom: 2rem;
//     max-width: 28rem;
//     width: auto;
//     padding: 1.5rem 6rem;
//     @media (min-width: $media-phone){
//       min-width: 40rem;
//       max-width: 60rem;
//       width: 90%;
//       padding: 1rem;
//     }
//     &:hover{
//       transform: scale(1.01);
//       box-shadow: 0 1.5rem 4rem $shadow2;
//     }
//     .change{
//       width: 4rem;
//       height: 4rem;
//       background: rgb(240, 133, 113);
//       position: absolute;
//       top: 1rem;
//       right: 1rem;
//       cursor: pointer;
//       &--blue{
//         background: rgb(52, 191, 160);
//       }
//     }
//     &__body{
//       // border: 1px solid green;
//       width: 100%;
//       &__header{
//         @media (min-width: $media-phone){
//
//         }
//         order: 1;
//         justify-content: center;
//         align-self: flex-start;
//         margin-left: 0;
//         h2{
//           font-size: 5rem;
//         }
//         &__name--chng{
//           width: 50%;
//         }
//         width: 100%;
//         display: flex;
//         margin-left: 1rem;
//         align-items: center;
//         // border: 1px solid red;
//         &__gender{
//           @media (min-width: $media-phone){
//
//           }
//           font-size: 2rem;
//           margin-left: .25rem;
//           align-self: flex-start;
//         }
//       }
//       &__main{
//         font-size: 2.5rem;
//         margin-left: 2rem;
//         width: 100%;
//         order: 3;
//         margin-left: 0;
//         @media (min-width: $media-phone){
//           order: 1;
//         }
//       }
//     }
//     &__info{
//       @media (min-width: $media-phone){
//         flex-direction: row;
//       }
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       &__img{
//         @media (min-width: $media-phone){
//           order: 1;
//           width: 30rem;
//         }
//         order: 2;
//         width: 100%;
//         border-radius: 2px;
//         height: 12.5rem;
//         background: rgb(173, 136, 198);
//       }
//     }
//   }
// }

.users{
  margin-top: 4rem;
}
.edit__form{
  margin-bottom: 2rem;
  input:not([type="file"]){
    border: 1px solid rgb(157, 157, 157);
    border-bottom: 2px solid rgb(157, 157, 157);
    border-radius: 4px;
    &:focus{
      outline: none;
      border-bottom: 2px solid rgb(0, 231, 113);
      &::placeholder{
        color: transparent;
      }
    }
    &:focus[value=""]{
      border-bottom: 4px solid rgb(255, 99, 0);
    }
    &:valid{
      // border-bottom: 4px solid rgb(0, 231, 113);
    }
  }
}
.user__row{
  background: rgba(0, 0, 0, .01);
  position: relative;
  margin-top: 5rem;
  transition: transform .25s, box-shadow .25s;
  max-width: 60rem;
  margin: 0 auto;
  box-shadow: 0 1rem 1.5rem $shadow2;
  border-radius: 4px;
  overflow: hidden;
  min-height: 15rem;
  width: 100%;
  &:hover{
    transform: scale(1.01);
    box-shadow: 0 1.5rem 2.5rem $shadow2;
  }
  &--edit{
      box-shadow: 0 1.5rem 2.5rem $shadow2;
      transform: scale(1.01);
      &:hover{
        transform: scale(1.01);
      }
  }
  .edit{
    transition: background .25s;
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 2.5rem;
    background: rgb(33, 8, 117);
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 1;
    &:hover{
      background: rgb(70, 43, 158);
    }
  }
  &:not(:last-child){
    margin-bottom: 2rem;
  }
  @media (max-width: $media-tab){
    max-width: 60%;
  }
  @media (max-width: $media-phone){
    max-width: 80%;
  }
  .photo{
    padding: 0;
    height: auto;
    background: rgb(173, 136, 198);
    @media (max-width: $media-tab){
      height: 16rem;
    }
    &--edit{
      position: relative;
      input{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0.65);
        font-size: 1.5rem;
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .name{
    font-size: 3.5rem;
    &--edit{
      input{
        width: 80%;
        height: 90%;
        @media (min-width: $media-tab){
          width: 40%;
        }
      }
    }
    span{
      font-weight: 100;
      color: rgba(0, 0, 0, 0.3);
      margin-left: .5rem;
    }
  }
  .info{
    font-size: 2.5rem;
    input{
      width: 100%;
    }
  }
}
