*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Lato', sans-serif
}

body{
  font-size: 25rem;
  color: #404040;
}

// .app{
//   width: 70%;
//   max-width: 105rem;
//   margin: 0 auto;
//   height: 75vh;
//   box-shadow: 0 .5rem 2rem $shadow4;
//   overflow:hidden;
//   border-radius: 4px;
// }
