.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-7 {
  margin-bottom: 7rem; }

.mb-8 {
  margin-bottom: 8rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mt-6 {
  margin-top: 6rem; }

.mt-7 {
  margin-top: 7rem; }

.mt-8 {
  margin-top: 8rem; }

.u-center-text {
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Lato", sans-serif; }

body {
  font-size: 25rem;
  color: #404040; }

.home {
  display: flex;
  justify-content: center; }

.users__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10rem; }

.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12rem; }

.gallery-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 10rem; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: linear-gradient(to right bottom, #009148, #00d66a); }
  @media (max-width: 576px) {
    .header {
      flex-direction: column;
      height: auto;
      padding: 1rem; } }
  .header__link {
    transition: color .15s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.7); }
    @media (max-width: 576px) {
      .header__link {
        width: 100%;
        margin: 0 !important; }
        .header__link:not(:last-child) {
          margin-right: 0rem; } }
    .header__link:hover {
      color: white; }
    .header__link.active {
      color: white; }
    .header__link:not(:last-child) {
      margin-right: 2.5rem; }

.users {
  margin-top: 4rem; }

.edit__form {
  margin-bottom: 2rem; }
  .edit__form input:not([type="file"]) {
    border: 1px solid #9d9d9d;
    border-bottom: 2px solid #9d9d9d;
    border-radius: 4px; }
    .edit__form input:not([type="file"]):focus {
      outline: none;
      border-bottom: 2px solid #00e771; }
      .edit__form input:not([type="file"]):focus::placeholder {
        color: transparent; }
    .edit__form input:not([type="file"]):focus[value=""] {
      border-bottom: 4px solid #ff6300; }

.user__row {
  background: rgba(0, 0, 0, 0.01);
  position: relative;
  margin-top: 5rem;
  transition: transform .25s, box-shadow .25s;
  max-width: 60rem;
  margin: 0 auto;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  min-height: 15rem;
  width: 100%; }
  .user__row:hover {
    transform: translateY(-3px);
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2); }
  .user__row--edit {
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
    transform: scale(1.01); }
    .user__row--edit:hover {
      transform: scale(1.01); }
  .user__row .edit {
    width: 2.5rem;
    height: 2.5rem;
    transition: background .25s;
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 2.5rem;
    background: rgba(33, 8, 117, 0);
    color: black;
    cursor: pointer;
    z-index: 1; }
    .user__row .edit img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .user__row .edit:hover {
      background: rgba(70, 43, 158, 0); }
  .user__row:not(:last-child) {
    margin-bottom: 2rem; }
  @media (max-width: 576px) {
    .user__row {
      max-width: 60%; } }
  @media (max-width: 400px) {
    .user__row {
      max-width: 80%; } }
  .user__row .photo {
    padding: 0;
    height: auto;
    background: #ad88c6; }
    @media (max-width: 576px) {
      .user__row .photo {
        height: 16rem; } }
    .user__row .photo--edit {
      position: relative; }
      .user__row .photo--edit input {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: white;
        background: rgba(0, 0, 0, 0.65);
        font-size: 1.5rem; }
    .user__row .photo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  .user__row .name {
    font-size: 3.5rem; }
    .user__row .name--edit input {
      width: 80%;
      height: 90%; }
      @media (min-width: 576px) {
        .user__row .name--edit input {
          width: 40%; } }
    .user__row .name span {
      font-weight: 100;
      color: rgba(0, 0, 0, 0.3);
      margin-left: .5rem; }
  .user__row .info {
    font-size: 2.5rem; }
    .user__row .info input {
      width: 100%; }

.btn {
  display: inline-block;
  transition: all .15s;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100rem;
  padding: .5rem 3rem;
  font-size: 3rem;
  cursor: pointer;
  position: relative; }
  .btn--green {
    background: #00c761;
    color: rgba(255, 255, 255, 0.75); }
    .btn--green:hover {
      color: white;
      box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
      transform: translateY(-0.5rem); }
      .btn--green:hover::after {
        transform: scale(1.2, 1.5);
        opacity: 0; }
    .btn--green::after {
      transition: all .15s;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 100rem;
      background: #00c761; }

.users__form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 29rem; }
.users__form .group {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0rem; }
  .users__form .group__item {
    border-radius: 4px;
    border: 2px solid #b0b0b0;
    border-bottom: 4px solid #b0b0b0;
    padding: .25rem .5rem; }
    .users__form .group__item:focus {
      outline: none;
      border-bottom: 4px solid #00e771; }
      .users__form .group__item:focus::placeholder {
        color: transparent; }
    .users__form .group__item:focus[value=""] {
      border-bottom: 4px solid #ff6300; }
    .users__form .group__item[value] + * {
      opacity: 1;
      transform: translateY(0%); }
    .users__form .group__item[value=""] + * {
      opacity: 0;
      transform: translateY(-100%); }
    .users__form .group__item:invalid + * {
      transform: translateY(-100%);
      opacity: 0; }
    .users__form .group__item:valid {
      border-bottom: 4px solid #00e771; }
    .users__form .group__item:focus + * {
      transform: translateY(0%);
      opacity: 1; }
    .users__form .group__item[type='radio'] {
      display: none; }
    .users__form .group__item__label {
      font-size: 2rem;
      margin-left: .5rem;
      transition: all .25s;
      opacity: 0;
      display: inline-block;
      transform: translateY(-100%); }
  .users__form .group__checkbox {
    flex-direction: row;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 1rem; }
    .users__form .group__checkbox__item {
      display: block; }
    .users__form .group__checkbox__item:checked + * .outter-circle .inner-circle {
      background: #00d568; }
    .users__form .group__checkbox__label {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(0%);
      opacity: 1; }
      .users__form .group__checkbox__label p {
        font-size: 2.5rem;
        margin-left: 1rem; }
      .users__form .group__checkbox__label:not(:last-child) {
        margin-right: 2rem; }
      .users__form .group__checkbox__label .outter-circle {
        position: relative;
        display: inline-block;
        background: rgba(0, 213, 104, 0);
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 0.5rem solid #00e771; }
        .users__form .group__checkbox__label .outter-circle .inner-circle {
          transition: all .25s;
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: rgba(0, 213, 104, 0);
          width: 2rem;
          height: 2rem;
          border-radius: 50%; }

.gal {
  position: relative;
  margin-top: 4rem;
  background: rgba(0, 0, 0, 0.1);
  min-width: 100%;
  min-height: 60rem;
  padding: 3rem 1rem 0 1rem; }
  .gal__pic {
    transition: all .3s;
    width: 100%;
    object-fit: cover;
    border: 4px solid rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    outline: 0px solid rgba(0, 0, 0, 0.19);
    height: 30rem;
    object-position: top;
    margin-bottom: 3rem; }
    .gal__pic:hover {
      box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.4);
      transform: translateY(-3px); }

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .search-form__form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .search-form__heading {
    font-size: 4rem;
    margin-right: 1rem;
    background: linear-gradient(to left, #00c2ff, #389aff);
    -webkit-background-clip: text;
    color: #009cd1;
    color: transparent; }
    @media (max-width: 576px) {
      .search-form__heading {
        font-size: 3rem; } }
    @media (max-width: 400px) {
      .search-form__heading {
        font-size: 2.5rem; } }
  .search-form__input {
    width: 20%;
    transition: all .25s;
    padding-left: 1rem;
    color: white;
    background: #00e872;
    border: 2px solid transparent;
    border-radius: 3px; }
    @media (max-width: 576px) {
      .search-form__input {
        width: 50%;
        font-size: 2.5rem;
        height: 3.5rem; } }
    @media (max-width: 400px) {
      .search-form__input {
        width: 50%; } }
    .search-form__input:focus {
      outline: none;
      border: 2px solid #00987d; }
    .search-form__input::placeholder {
      color: rgba(255, 255, 255, 0.73); }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }
@keyframes rotate-reverse {
  0% {
    transform: translate(-50%, -50%) rotate(0); }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg); } }
.preloader {
  background: rgba(0, 0, 0, 0.56);
  color: #f7b268;
  border-radius: 8px;
  padding: 2rem;
  z-index: 10000;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  justify-content: center;
  align-items: center; }
  .preloader h1 {
    margin: 0; }
  .preloader__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10rem;
    height: 10rem; }
    .preloader__container__orbit {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      border: 4px solid white; }
    .preloader__container__planet {
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
      height: 8px;
      width: 8px;
      border-radius: 50%; }
    .preloader__container__planet--1 {
      background: #30c753; }
    .preloader__container__planet--2 {
      background: #fa9d5a; }
    .preloader__container__planet--3 {
      background: #3977ff; }
    .preloader__container__orbit--1 {
      height: 7rem;
      width: 7rem;
      animation: rotate 2s infinite; }
    .preloader__container__orbit--2 {
      height: 5rem;
      width: 5rem;
      animation: rotate-reverse 2s infinite .15s; }
    .preloader__container__orbit--3 {
      height: 3rem;
      width: 3rem;
      animation: rotate 2s infinite .3s; }

/*# sourceMappingURL=index.css.map */
