.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-7 {
  margin-bottom: 7rem; }

.mb-8 {
  margin-bottom: 8rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mt-6 {
  margin-top: 6rem; }

.mt-7 {
  margin-top: 7rem; }

.mt-8 {
  margin-top: 8rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Lato", sans-serif; }

body {
  font-size: 25rem;
  color: #404040; }

.home {
  display: flex;
  justify-content: center; }

.users__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10rem; }

.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12rem; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: linear-gradient(to right bottom, #009148, #00d66a); }
  .header__link {
    transition: color .15s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.7); }
    .header__link:hover {
      color: white; }
    .header__link.active {
      color: white; }
    .header__link:not(:last-child) {
      margin-right: 2.5rem; }

.users .user {
  position: relative;
  transition: transform .25s, box-shadow .25s;
  padding: 1rem 1rem;
  width: 60rem;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: auto;
  margin-bottom: 2rem; }
  .users .user .change {
    width: 4rem;
    height: 4rem;
    background: #34bfa0;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer; }
  .users .user:hover {
    transform: scale(1.01);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .users .user__body {
    width: 100%; }
    .users .user__body__header {
      width: 100%;
      display: flex;
      margin-left: 1rem;
      align-items: center; }
      .users .user__body__header__gender {
        margin-left: .25rem;
        align-self: flex-start; }
    .users .user__body__main {
      font-size: 2.5rem;
      margin-left: 2rem; }
  .users .user__info {
    display: flex; }
    .users .user__info__img {
      width: 15rem;
      height: 12.5rem;
      background: #ad88c6; }

.btn {
  display: inline-block;
  transition: all .15s;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100rem;
  padding: .5rem 3rem;
  font-size: 3rem;
  cursor: pointer;
  position: relative; }
  .btn--green {
    background: #00c761;
    color: rgba(255, 255, 255, 0.75); }
    .btn--green:hover {
      color: white;
      box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
      transform: translateY(-0.5rem); }
      .btn--green:hover::after {
        transform: scale(1.2, 1.5);
        opacity: 0; }
    .btn--green::after {
      transition: all .15s;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 100rem;
      background: #00c761; }

.users__form form {
  display: flex;
  flex-direction: column;
  justify-content: center; }
.users__form .group {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0rem; }
  .users__form .group__item {
    border-radius: 4px;
    border: 2px solid #b0b0b0;
    border-bottom: 4px solid #b0b0b0;
    padding: .25rem .5rem; }
    .users__form .group__item:focus {
      outline: none;
      border-bottom: 4px solid #00e771; }
      .users__form .group__item:focus::placeholder {
        color: transparent; }
    .users__form .group__item:focus[value=""] {
      border-bottom: 4px solid #ff6300; }
    .users__form .group__item[value] + * {
      opacity: 1;
      transform: translateY(0%); }
    .users__form .group__item[value=""] + * {
      opacity: 0;
      transform: translateY(-100%); }
    .users__form .group__item:invalid + * {
      transform: translateY(-100%);
      opacity: 0; }
    .users__form .group__item:valid {
      border-bottom: 4px solid #00e771; }
    .users__form .group__item:focus + * {
      transform: translateY(0%);
      opacity: 1; }
    .users__form .group__item[type='radio'] {
      display: none; }
    .users__form .group__item__label {
      font-size: 2rem;
      margin-left: .5rem;
      transition: all .25s;
      opacity: 0;
      display: inline-block;
      transform: translateY(-100%); }
  .users__form .group__checkbox {
    flex-direction: row;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 1rem; }
    .users__form .group__checkbox__item {
      display: block; }
    .users__form .group__checkbox__item:checked + * .outter-circle .inner-circle {
      background: #00d568; }
    .users__form .group__checkbox__label {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(0%);
      opacity: 1; }
      .users__form .group__checkbox__label p {
        font-size: 2.5rem;
        margin-left: 1rem; }
      .users__form .group__checkbox__label:not(:last-child) {
        margin-right: 2rem; }
      .users__form .group__checkbox__label .outter-circle {
        position: relative;
        display: inline-block;
        background: rgba(0, 213, 104, 0);
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 0.5rem solid #00e771; }
        .users__form .group__checkbox__label .outter-circle .inner-circle {
          transition: all .25s;
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: rgba(0, 213, 104, 0);
          width: 2rem;
          height: 2rem;
          border-radius: 50%; }

/*# sourceMappingURL=index.css.map */
